<script lang="ts">
  import Nav from '../lib/Nav/Minimal.svelte'
  import Card from '../lib/Card/Minimal.svelte'
  import {onMount} from 'svelte'
  import {theme} from '../store'
  import type {Theme} from '../themes'

  onMount(() => {
    /* must be inside onmount bc of sveltekit SSR reasons */
    theme.subscribe((newTheme: Theme) => {
      /* store colors as css vars */
      Object.entries(newTheme.pal).map(([key, value]) => {
        document.documentElement.style.setProperty(`--${key}`, value)
      })
      document.documentElement.style.setProperty(
        `--font`,
        newTheme.font,
      )

      document.documentElement.style.setProperty(
        `--image`,
        `url(${newTheme.image})`,
      )
    })
  })
</script>

<main>
  <Nav />
  <div class="container">
    <Card>
      <h1>please hire me</h1>
      <p>
        Hi! My name is Nathan Kim, and I'm a senior at Yale University
        majoring in Ethnicity, Race, &amp; Migration as well as
        Statistics &amp; Data Science. I'd like to build your next
        website!
      </p>
    </Card>
    <Card>
      <h2>animations</h2>
      <h2>animations</h2>
    </Card>
    <Card>
      <div class="projects">
        <h2>other things I've made</h2>
      </div>
    </Card>
  </div>
</main>

<style>
  /* a _lot_ of fonts...but I don't care :) */
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Lato:wght@400;700&family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

  @font-face {
    src: url('/fonts/Helvetica/Helvetica-subset.woff2');
    font-family: 'Helvetica';
  }

  :global(body),
  :global(html),
  :global(#app),
  main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  main {
    background: var(--image);
  }

  .container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 80vh);
    place-items: center;
  }

  :root {
    font-family: var(--font), sans-serif;
    font-size: 14pt;
  }

  h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
</style>
