<script>
</script>

<div class="container">
  <slot />
</div>

<style>
  .container {
    border: solid 1px black;
    padding: 1rem;
    max-width: 50ch;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem black;
  }
</style>
