<script>
  import themes from '../../themes'
  const theme = themes['OS X']
</script>

<div class="container">
  <div class="header">
    <div class="window-buttons">
      <button style="background: var(--red);" />
      <button style="background: var(--yellow);" />
      <button style="background: var(--green);" />
    </div>
  </div>
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .container {
    max-width: 50ch;
    background: var(--white);
    box-sizing: border-box;
    border-radius: 0.3rem;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%),
      0px 1px 8px 0px rgb(0 0 0 / 12%);
  }

  .header {
    background: var(--bg);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0.3rem 0.3rem 0 0;
    padding: 0.7rem;
    display: flex;
    align-items: center;
  }

  .content {
    border: solid 0.3rem var(--bg);
    border-top: unset;
    border-radius: 0 0 0.3rem 0.3rem;
    padding: 2rem;
  }

  button {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 0.8rem;
    margin: 0.2rem;
    border: none;
    transition: all ease-in-out 200ms;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.1;
  }
</style>
