<script lang="ts">
  import {theme} from '../../store'
  import themes from '../../themes'

  let selected = ''
</script>

<div class="wrapper">
  <nav>
    <em>try picking a new theme:</em>
    {#each Object.entries(themes) as aes}
      <button
        on:click={() => {
          selected = aes[0]
          theme.set(aes[1])
        }}
        class={selected === aes[0] && 'selected'}
      >
        {aes[0]}
      </button>
    {/each}
  </nav>
</div>

<style>
  nav {
    width: 100%;
    max-width: 70ch;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  button {
    font-family: var(--font);
    font-size: 0.9rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    background: none;
    border: solid 1px black;
    transition: all ease-in-out 100ms;
  }

  button:hover {
    background: gray;
  }

  .selected {
    background: var(--cyan);
  }

  .wrapper {
    padding: 1rem;
  }
</style>
