<script lang="ts">
  import {theme} from '../../store'
  import themes from '../../themes'

  let osx = themes['OS X']
  console.log(osx)
  let selected = ''
</script>

<nav>
  <svg
    focusable="false"
    aria-hidden="true"
    viewBox="0 0 24 24"
    data-testid="AppleIcon"
    aria-label="fontSize medium"
    ><path
      d="M18.71 19.5c-.83 1.24-1.71 2.45-3.05 2.47-1.34.03-1.77-.79-3.29-.79-1.53 0-2 .77-3.27.82-1.31.05-2.3-1.32-3.14-2.53C4.25 17 2.94 12.45 4.7 9.39c.87-1.52 2.43-2.48 4.12-2.51 1.28-.02 2.5.87 3.29.87.78 0 2.26-1.07 3.81-.91.65.03 2.47.26 3.64 1.98-.09.06-2.17 1.28-2.15 3.81.03 3.02 2.65 4.03 2.68 4.04-.03.07-.42 1.44-1.38 2.83M13 3.5c.73-.83 1.94-1.46 2.94-1.5.13 1.17-.34 2.35-1.04 3.19-.69.85-1.83 1.51-2.95 1.42-.15-1.15.41-2.35 1.05-3.11z"
    /></svg
  >
  {#each Object.entries(themes) as aes}
    <button
      on:click={() => {
        selected = aes[0]
        theme.set(aes[1])
      }}
      class={selected === aes[0] && 'selected'}
    >
      {aes[0]}
    </button>
  {/each}
</nav>

<style>
  nav {
    width: 100%;
    display: flex;
    margin: auto;
    background: var(--white);
    box-shadow: 1rem 1rem 1rem rgb(0 0 0 / 20%);
  }

  .selected {
    background-color: var(--blue);
  }

  svg {
    width: 1rem;
    height: 1rem;
    padding: 0 0.5rem;
  }

  button {
    font-family: var(--font);
    font-size: 0.9rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    background: none;
    border: none;
    transition: all ease-in-out 100ms;
  }

  button:hover {
    background: gray;
  }
</style>
